# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\important\phpstorm_projects\weather-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
